$bg-primary:   #141414;
$bg-secondary: #303030;
$fg-primary:   #FFFFFF;
$fg-secondary: #16D9CF;

html {
  background-color: $bg-primary;
  color: $fg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#container {
  width: 900px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__links ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style-type: none;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
