@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

$bg-primary:   #141414;
$bg-secondary: #303030;
$fg-primary:   #FFFFFF;
$fg-secondary: #16D9CF;

html {
  background-color: $bg-primary;
  color: $fg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.background-image {
  position: absolute;
  z-index: -100;
  width: 500px;
  max-width: 60%;
}

.background-image.left {
  top: 0;
  left: 0;
}

.background-image.right {
  right: 0;
  bottom: 0;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header__logo {
    font-weight: 900;
    display: flex;
    align-items: center;
    font-size: 45px;

    .logo--normal-weight {
      font-weight: 300;
    }

    img {
      max-width: 100px;
      align-self: flex-end;
    }
  }

  .header__links ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 24px;
    list-style-type: none;
  }

  .header__links a {
    color: $fg-primary;
    text-decoration: none;
    transition: all 0.2s ease-out;
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 3px 12px;
  }

  .header__links .links__selected a {
    color: $fg-secondary;
  }

  .header__links a:hover {
    color: $bg-primary !important;
    background: $fg-secondary;
  }

  .links__selected {
    font-weight: 700;
  }
}


.content {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
  width: 90%;
  max-width: 1200px;

  .content__image img {
    max-height: 400px;
  }

  .content__text {
    display: flex;
    height: 400px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .content__text__title {
    color: $fg-secondary;
    font-size: 70px;
    font-weight: 900;
    margin: 10px 0 25px;

    .title--normal-weight {
      font-weight: 300;
    }
  }

  .content__text__body {
    font-size: 23px;
  }

  .content__text__download {
    margin-top: 35px;
  }

  .download-button {
    font-weight: 900;
    font-size: 30px;
    color: $fg-secondary;
    border: 2px solid $fg-primary;
    border-radius: 20px;
    background: $bg-primary;
    text-decoration: none;
    filter: drop-shadow(0px 4px 4px rgba(18, 181, 173, 0.47));
    padding: 10px 35px;
    transition: all 0.2s ease-out;
  }

  .download-button:hover {
    background: $fg-secondary;
    color: $bg-primary;
  }
}

@media only screen and (max-width: 600px) {
  .html {
    max-width: 100%;
  }

  .header__logo {
    font-size: 16px;
  }

  .header__links {
    display: none;
  }

  .content {
    flex-direction: column;
    width: 100%;
  }

  .content__image {
    align-self: center;
  }
}
