@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
html {
  background-color: #141414;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.background-image {
  position: absolute;
  z-index: -100;
  width: 500px;
  max-width: 60%;
}

.background-image.left {
  position: fixed;
  top: 0;
  left: 0;
}

.background-image.right {
  position: fixed;
  right: 0;
  bottom: 0;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 45px;
}
.header .header__logo .logo--normal-weight {
  font-weight: 300;
}
.header .header__logo img {
  max-width: 100px;
  align-self: flex-end;
}
.header .header__top-nav {
  flex-shrink: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
}
.header .header__top-nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  font-size: 24px;
  list-style-type: none;
}
.header .header__top-nav li {
  flex: 1;
  flex-shrink: 1;
}
.header .header__top-nav a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.2s ease-out;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 3px 12px;
}
.header .header__top-nav .links__selected a {
  color: #16D9CF;
}
.header .header__top-nav a:hover {
  color: #141414 !important;
  background: #16D9CF;
}
.header .links__selected {
  font-weight: 700;
}

#hamburger-icon {
  display: none;
  margin-left: auto;
}

.content {
  display: flex;
  align-items: flex-start;
  margin-top: 70px;
  width: 90%;
  max-width: 1200px;
}
.content .content__image img {
  max-height: 400px;
}
.content .content__text {
  display: flex;
  height: 400px;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.content .content__text__title {
  color: #16D9CF;
  font-size: 70px;
  font-weight: 900;
  margin: 10px 0 25px;
}
.content .content__text__title .title--normal-weight {
  font-weight: 300;
}
.content .content__text__body {
  font-size: 23px;
}
.content .content__text__download {
  margin-top: 35px;
}
.content .download-button {
  font-weight: 900;
  font-size: 30px;
  color: #16D9CF;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  background: #141414;
  text-decoration: none;
  filter: drop-shadow(0px 4px 4px rgba(18, 181, 173, 0.47));
  padding: 10px 35px;
  transition: all 0.2s ease-out;
}
.content .download-button:hover {
  background: #16D9CF;
  color: #141414;
}

@media only screen and (max-width: 800px) {
  .content .content__text__title {
    font-size: 50px;
  }

  .content__image img {
    width: 250px;
  }
}
@media only screen and (max-width: 600px) {
  .html {
    max-width: 100%;
  }

  .container {
    max-width: 95%;
  }

  .header {
    align-items: flex-start;
    margin: 35px 0 20px;
  }
  .header .header__logo {
    font-size: 22px;
  }
  .header img {
    width: 60px;
  }

  .header .header__top-nav {
    flex-direction: column;
  }

  .header .header__top-nav ul {
    display: none;
  }

  .header #hamburger-icon {
    display: block;
    color: #16D9CF;
    padding: 5px 10px;
    align-self: flex-start;
    font-size: 25px;
    margin-right: 5px;
  }

  .header__top-nav {
    margin-top: 12px;
  }

  .header__top-nav.responsive {
    height: 100px;
    align-items: flex-end;
  }

  .header .responsive ul {
    display: flex;
    position: absolute;
    top: 90px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
    gap: 10px;
    text-align: right;
    padding-left: 20px;
  }

  .header .responsive li a {
    padding-right: 7px;
  }

  .content {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .content .content__text {
    gap: 5px;
    align-self: center;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }
  .content .content__text__title {
    font-size: 32px;
    margin: 10px 0;
  }
  .content .content__text__body {
    font-size: 13px;
  }
  .content .content__text__download {
    margin: 25px 0;
  }
  .content .content__text__download .download-button {
    font-size: 20px;
    border-radius: 15px;
    padding: 8px 17px;
  }

  .content__text div {
    padding: 0px 5px;
  }

  .content__image {
    align-self: center;
  }

  .content__image img {
    width: 200px;
  }

  #container div {
    flex: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
